
.scrollable {
  max-width: calc(100vw - 260px);
  overflow-x: auto;
}

table {
    min-width: max-content;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  thead {
    background-color: #79c2ad;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 0.75rem;
    vertical-align: top;
    text-align: left;
    word-wrap: break-word; 
    overflow-wrap: anywhere;
    max-width: 200px;
  }
 
  td img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 0.25rem;
  }
  
  td > div {
    margin-bottom: 1rem;
  }
  
  pre {
    background-color: #f4f4f4;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.85rem;
    overflow-x: auto;
  }
  
  .text-sm {
    font-size: 0.875rem;
  }
  
  .text-xs {
    font-size: 0.75rem;
  }
  
  .text-green-700 {
    color: #047857;
  }
  